/* Main styling for the App component */
/*
.App {
  text-align: center;
  background-color: black; 
}
*/

/* Header styling for the App */
.App-header {
  /*text-align:right; */
  text-align: center; /* Center text alignment */
  background-color: darkblue; /* Test color */
  min-height: 100vh; /* Minimum height of the viewport */
  display: flex; /* Flexbox layout */
  flex-direction: column; /* Align items in a column */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  color: white; /* Text color */
}

ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

/* Button styling */
button {
  background-color: #eff6f7; /* Button background color */
  color: rgb(0, 0, 0); /* Button text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners for buttons */
  padding: 10px 20px; /* Padding inside buttons */
  cursor: pointer; /* Change cursor to pointer on hover */
  margin: 5px; /* Margin between buttons */
  font-size: 16px; /* Button text size */
}

/* Button hover effect */
button:hover {
  background-color: #4da3c4; /* Darker shade on hover */
}
